# jonathan@leechpepin.com

IMAPAccount jlp
Host mail.leechpepin.com
User jonathan@leechpepin.com
PassCmd "gopass show -o email/jonathan@leechpepin.com"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt
PipelineDepth 10

IMAPStore jlp-remote
Account jlp

MaildirStore jlp-local
Subfolders verbatim
Path ~/.mail/jlp/
Inbox ~/.mail/jlp/Inbox

Channel jlp
Far :jlp-remote:
Near :jlp-local:
Create Both
Expunge Both
Syncstate *
Pattern % Archive/* Trash

{{ if .includes.jlptech -}}
# jlp@consultjlp.com

IMAPAccount consultjlp
Host mail.consultjlp.com
User jlp@consultjlp.com
PassCmd "gopass show -o gopass-jlptech/email/jlp@consultjlp.com"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt
PipelineDepth 10

IMAPStore consultjlp-remote
Account consultjlp

MaildirStore consultjlp-local
Subfolders verbatim
Path ~/.mail/consultjlp/
Inbox ~/.mail/consultjlp/Inbox

Channel consultjlp
Far :consultjlp-remote:
Near :consultjlp-local:
Create Both
Expunge Both
Syncstate *
Pattern % Archive/* Trash Consulting/*
{{- end }}
