;;; -*- mode: conf-unix; -*-

[user]
    name = {{ .user.fullName }}
    email = {{ .user.email }}
    signingKey = {{ .user.signingKey }}
[gitlab]
    user = jleechpe
[github]
    user = jleechpe
[url "ssh://git@github.com/"]
    pushInsteadOf= https://github.com/
[url "git@codeberg.org:"]
    pushInsteadOf = https://codeberg.org/

[init]
    defaultBranch = main

[core]
    excludesFile = ~/.gitignore_global
    
{{- if .git.includes.jlptech }}
{{- with .git.includes.jlptech }}
# Defaults for JLP Tech Consulting
[includeIf "gitdir:~/{{ .name }}/"]
    path = ~/.gitconfig-{{ .name }}
[includeIf "gitdir:~/git/{{ .name }}/"]
    path = ~/.gitconfig-{{ .name }}
{{- end }}
{{- end }}
